/* Reset Styles */
*, ::after, ::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --primary-color: #06b6d4;
  --secondary-color: #e2e8f0;
  --accent: #fbbf24;
  --white: #fff;
  --black: #000;
  --subtle-bg: #fffee8;
}

/* General Styles */
body {
  background-color: var(--secondary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 12px auto 24px;
}

img {
  height: 60px;
}

/* Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  display: grid;
  background-color: var(--primary-color);
  grid-row: 1 / 3;
}

.nav {
  grid-column: 2 / 3;
  background-color: var(--subtle-bg);
  height: 25vh;
  display: grid;
}

.top-nav,
.btm-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 30px;
}
.btm-left
{
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Sidebar Components */
.logo {
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo svg {
  width: 20%;
  fill: var(--white);
}

.logo h1 {
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
}

.middle-sidebar,
.bottom-sidebar {
  margin-left: 20px;
}

.middle-sidebar ul li,
.bottom-sidebar ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.middle-sidebar svg,
.bottom-sidebar svg {
  width: 10%;
  fill: var(--white);
}

.middle-sidebar h3,
.bottom-sidebar h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

/* Navigation */
.search-box {
  display: flex;
  gap: 10px;
}

.top-nav svg {
  width: 30px;
  fill: var(--black);
}

.top-nav input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 30px;
}

.top-left,
.btm-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 10%;
}

.btm-buttons button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--subtle-bg);
  font-size: 18px;
  font-weight: 400;
  border-radius: 20px;
  border: none;
}

/* Middle Section */
.headings {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 15px;
}

.container1 {
  display: grid;
  gap: 20px;
  margin: 10px 20px 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.container1 > .grid-item {
  background-color: var(--subtle-bg);
  color: #ddd;
  height: 100%;
  padding: 12px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 1rem;
  border-left: 6px solid rgb(255, 196, 87);
}

.container2 {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 40px 0;
}

.container2 > .grid-item {
  background-color: var(--subtle-bg);
  color: #ddd;
  height: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 10px;
}

.trending {
  color: var(--black);
  font-size: 20px;
  font-weight: bold;
  margin: 10px 200px 5px 0;
}
.item-content
{
  display: flex;
  flex-direction: column;
}
.text h3
{
  color: #000;
}

.text p
{
  color: #424242;
}
.items
{
  display: flex;
  gap: 20px;
}
.info h4
{
  color: #000;
}
.info p
{
  color: #424242;
}